{% extends 'layout/base.html' %}

{% block titulo %}Página Inicial{% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
<div class="header">Bem-vindo ao Sistema de Estoque</div>

<div class="card-container">

    <div class="card" onclick="location.href='/cadastro_produto'">
        <h3>Cadastro de Produtos</h3>
        <p>Adicionar, editar ou remover itens do estoque.</p>
    </div>

    <div class="card" onclick="location.href='/entrada_produto'">
        <h3>Entrada de Produtos</h3>
        <p>Registrar a chegada de novos itens ao estoque.</p>
    </div>

    <div class="card" onclick="location.href='/saida_produto'">
        <h3>Saída / Baixa</h3>
        <p>Realizar baixas por vendas, consumo interno ou perdas.</p>
    </div>

    <div class="card" onclick="location.href='/relatorios'">
        <h3>Relatórios</h3>
        <p>Visualizar informações gerenciais e movimentações.</p>
    </div>

</div>
{% endblock %}
